<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
    <title>Login</title>
  </head>
  <body>
    <div class="loginSection">
      <form class="login" action="/login/" method="POST">
        <h1>Sign In</h1>
        <input type="text" name="username" placeholder="Username" value="" required>
        <input type="password" name="password" placeholder="Password" value="" required>
        <button type="button" name="submit">Submit</button>
      </form>
    </div>
    <h2>OR</h2>
    <div class="signupSection">
      <form class="signUp" action="/welcome/" method="POST">
        <h1>Sign Up</h1>
        <input type="text" name="firstName" placeholder="First Name" value="" required>
        <input type="text" name="lastName" placeholder="Last Name" value="">
        <input type="text" name="userName" placeholder="Username" value="" required>
        <input type="password" name="password" placeholder="Password" value="" required>
        <button type="button" name="create">Create</button>
      </form>
    </div>
  </body>
</html>
