<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>myPage</title>
  </head>
  <body class="home">
<!-- ---------- HEADER ---------- -->
    <header>
      <ul class="nav nav-pills">
        <li><a href="/">Login</a></li>
        <li><a href="/home">Home</a></li>
        <li class="active"><a href="/my_page">My Page</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
      <ul class="nav nav-pills">
        <li class="logout"><a href="/logout">Logout</a></li>
      </ul>
    </header>
<!-- ---------- MAIN ---------- -->
    {{#user}}
    <h1 class="myPage">Welcome {{name_first}} {{name_last}} to your page</h1>
    <h3 class="myPage">You are logged in as {{username}}.</h3>
    <h3 class="myPage">Your password is {{password}}</h3>
    {{/user}}
  </body>
</html>
