<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Sorry</title>
  </head>
  <body>
    <header>
      <ul class="nav nav-pills">
        <li class="active"><a href="/">Login</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/my_page">My Page</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
      <ul class="nav nav-pills">
        <li class="logout"><a href="/logout">Logout</a></li>
      </ul>
    </header>
    <div class="loginSection">
      <h1>Sorry, you have to login to view that page. Please go to the<a href="/login"> LOGIN </a>page to enter your credentials or to the<a href="/signup"> SIGNUP </a>page to create an account.</h1>
    </div>
  </body>
</html>
